$primary: #1e4866;
$secondary: #38917B;
$accent: #dd4b39;

$dark: #252733;

$positive: #118347;
$negative: #D74E3C;
$info: #16AAFF;
$link: #218ac6;
$warning: #C98A11;
$cyan-2: #DCF2FF;
$cyan-3: #85B6FF;
$cyan-4: #1B6090;
$grey-1: #343434;
$grey-2: #495057;
$grey-3: #646464;
$grey-4: #8f9091;
$grey-8: #F8F9FA;
$orange-7: #B77615;
$teal-6: #7B9A6D;
